{% extends 'blog/base.html' %}

{% block content %}
      <div class="post">
          {% if post.published_date %}
            <div class="date">
                {{post.published_date}}
            </div>
          {% endif %}
<!--          글 수정 링크 수정하기-->
          <a class = "btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
              <span class = "edit-btn glyphicon glyphicon-pencil"></span>
          </a>
<!--          여기까지 -->
<!--          글 삭제 링크 추가하기-->
          <a class = "btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
              <span class="glyphicon glyphicon-remove"></span>
          </a>
<!--          여기까지-->
          <h1> {{post.title}}</h1>
          <p> {{post.text|linebreaksbr }}</p>
      </div>
{% endblock %}